name: Non-Functional Audit

on:
  push:
    branches: [ "main" ]

jobs:
  quality-and-security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Static Analysis (Lints)
        run: flutter analyze

      - name: Run Security Scan (Bandit)
        run: |
          pip install bandit
          bandit -r .
